language: java
jdk: oraclejdk8
dist: trusty
sudo: true
addons:
  sonarcloud:
    organization: lapots-github
    token:
      secure: l0wvklSqSj4OMqk9edIKODL1bnj1F/T+j1qG0WJNp9c+xbzqPvQuW7CPtwBuWiJaS6W53R2fWugpskQS7CuKvsGvxQp9kpsxEUHVB1Wcy8qtif3DaZKACuu0Y6eKWbkBK8x8jwT54V+zgoaS7Wmlw6NB6bHpX6UVI/bFu/DG02BIGIhS4/iMLnBAiXpIk/bJSNtPT3Cl/bPD/oUZvVXlcpYFWH534GlbN4ib9+QuoUEhqc7V/SpQjRMVKgNZAL8ETsrMcNviVnVUt0Mm4+Hm+5+KrcfNv0DeKsEBdfimnytHF09M7JUjeRFlR8pDZkQxe/TiMd3VbI4WED6blRccNYaordFBq0TjUmL3Dizl2+lmAhtS4EXYUzyrgNzK1dtD5RhLG2l4/osx8xvSudZXS2z/9fiiUWvidF9cHpjN1IzWcX7VHrZ/H5e5hiiB+DifZ1A9XsAMmZ7uxjhZDyRL25cYJLqf3Te9Nd0vXPKK/aolDbbjWxeTJw+PtLxbOSgJWl5WC9dGJxCDC7I19mTZpFRYLrMLQItybaEZZkuP40WKHYnNSpW+/StODJZrH/xLw5sjXAYZsU9lB2qXH02uomdPklydcHRNwMs4Tz4jGC498MLOrj/gV19dcW9ufc6KGd1got/NxcQ/m4KXTpKEepI9+OdyY6l9iddSstgFIJk=
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - "./cc-test-reporter before-build"
script:
  - ./gradlew sonarqube
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
    - '$HOME/.gradle'
    - '.gradle'
before_deploy:
  - curl -fSL "https://releases.hashicorp.com/terraform/0.11.3/terraform_0.11.3_linux_amd64.zip" -o terraform.zip
  - sudo unzip terraform.zip -d /opt/terraform
  - sudo ln -s /opt/terraform/terraform /usr/bin/terraform
  - rm -f terraform.zip
# - ./cc-test-reporter format-coverage -d -t jacoco /home/travis/build/lapots/judge-rule-engine/build/reports/jacoco/test/jacocoTestReport.xml
# - ./cc-test-reporter upload-coverage -d
deploy:
  - provider: script
    skip_cleanup: true
    script: bash deploy.sh
    on:
      repo: lapots/judge-rule-engine
      branch: master
env:
  global:
    secure: PRMOwZK31WfkDWA9QoMYYnY++SCUBwJRcXv2jMVp2ky/zPM/XCX4h8MNOiMfhLrqFachn7axDJL/yceXxEX/95KyXwdfUiCHcnDCA+nkFhd7l/sHVOuVuC/OOWJhkcvHSbmpsZ1T9uAKAOsDa5j2qsESN9/aS/Tx4059enq+rP6KH+2sMyTkYLCf497uKZZbf2uJYe/ttv+YeD4sQJS2Jqf3AKTeZ6K3RVBlgaIAOoGdGOv6d0Tfm/RMd9Dd6zRaeddXpDFEnstMlUCJu70XI+oglL5AD3noK3MRRCLfC6doS9hC/Twd60TsqFYMxHIclJKllhZEi60htWkkeppwYuSZMKhRg1wbOaPl0I/bhVFwZdTSyXjH1R2K7h6P7TwiDNUMcy+BUO95FfT7XfFspmZhS3tzjzry55QOc6ivhzGw/sS/TJpjuiIeGfOm5I6mNwyNCJCMSRo9i6JWIX52Lou0GwHgMrOUU1lZJS/OSqeQ4G6auaMs22c3/IDGrPoxSO+hIl1Kt24jloDOLAXQMugRbh1OM4z7O+kPgge4a7IK8UsgUs3XHAE1oPIRP15uhTVVbc57ZbG0kOHRoYNuI4Snyd4eOE3cGzCxoqJtyDJsTT/sO+uvzw4G535jX2XprTc17Rz1m7Bn4LmK3r6uguDzylkKbDahLigikCJZ4/A=
